<footer class="footer fixed-bottom">
  <nav>
    <ul class="footer-menu mb-1">
      <%= link_to body_statuses_path, class: 'menu1' do %>
        <li>
          <i class="fas fa-weight fa-2x footer-icon"></i>
          <span class="content">体重記録</span>
        </li>
      <% end %>

      <%= link_to charts_path({id: 0, range: 'all', user_id: current_user.id}), class: 'menu2' do %>
        <li>
          <i class="fas fa-chart-line fa-2x footer-icon"></i>
          <span class="content">グラフ</span>
        </li>
      <% end %>

      <%= link_to workout_logs_path(id: current_user), class: 'menu3' do %>
        <li>
          <i class="far fa-clipboard fa-2x footer-icon">
          </i><span class="content">記録一覧</span>
        </li>
      <% end %>

      <%= link_to calendar_path(current_user), class: 'menu4' do %>
        <li>
          <i class="far fa-calendar-alt fa-2x footer-icon"></i>
          <span class="content">カレンダー</span>
        </li>
      <% end %>

      <%= link_to profile_path(current_user), class: 'menu5' do %>
        <li>
          <i class="fas fa-user-cog fa-2x footer-icon"></i>
          <span class="content">マイページ</span>
        </li>
      <% end %>
    </ul>
  </nav>
</footer>
