<header class="header sticky-top">
  <nav class="header-nav">
    <ul class="header-menu">
      <li class="header-menu-title"><%= link_to 'My fitness', menus_path %></li>
      <li class="header-menu-user-name"><%= image_tag set_image(current_user.profile.icon, 'default_user_icon.png'), class: 'cover50 mr-2' %> <%= link_to current_user.name, profile_path(current_user) %>
      <li>
        <ul class="header-menu-inner">
          <li class="under-line mr-2"><%= link_to '管理画面', '/admin', class: 'nav-link' if current_user.try(:admin?) %></li>
          <li class="under-line mr-2 <%= 'active-h' if request.path == menus_path %>"><%= link_to 'トレーニング', menus_path, class: 'nav-link' %></li>
          <li class="under-line mr-2 <%= 'active-h' if request.path == exercises_path %>"><%= link_to '種目', exercises_path, class: 'nav-link' %></li>
          <li class="under-line mr-2 <%= 'active-h' if request.path == profiles_path %>"><%= link_to 'ユーザー', profiles_path, class: 'nav-link' %></li>
          <li class="under-line mr-2 <%= 'active-h' if request.path == posts_path %>"><%= link_to '投稿', posts_path, class: 'nav-link' %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
